api.yamiz.org {
  tls internal

  reverse_proxy /socket.io* server:5050

  reverse_proxy server:5050 {
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
  }
}